$primary-yellow: #e8cd07;
$secondary-gray: #1f1f1f;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.7rem;
  font-weight: 400;
  // overflow: hidden;
  position: relative;

  & a {
    text-decoration: none;
    color: inherit;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// section {
//   margin-top: 8rem;
// }

.container {
  height: 90vh;
  width: 85vw;
  margin: 0 auto;

  box-shadow: 0 0 75px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  opacity: 1;
  transition: all 0.8s;

  &--hidden {
    opacity: 0;
    transform: translateY(10rem);
  }
}

section {
  background-color: #fff;
  padding: 5vh 0;
}

.btn {
  z-index: 10;
  display: inline-block;
  padding: 2rem 6.5rem;

  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #1f1f1f;
  text-transform: uppercase;

  border-radius: 3px;
  border: none;
  background-color: $primary-yellow;
  box-shadow: 0rem 2rem 4rem #afafaf;
  position: relative;
  transition: all 0.4s cubic-bezier(0.01, 0.78, 0.4, 1);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 90%;
    border: 4px solid $primary-yellow;
    transition: all 0.8s cubic-bezier(0.01, 0.78, 0.4, 1);
  }
  &:hover::after {
    transform: scaleY(1.6) scaleX(1.4);
    opacity: 0;
  }

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0rem 2rem 4rem #8a8a8a;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.lolo {
  width: 10px;
  height: 30px;
  background-color: #fd3;
}
