.menu {
  z-index: 100;

  &__list {
    display: block;
    transform: translateX(-100%);
    transition: transform 0.8s cubic-bezier(0.38, -0.55, 0.49, 1.23);
    background-color: $primary-yellow;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &--active {
      transform: translateX(0%);
    }
  }

  &__list-close {
    outline: none;
    cursor: pointer;
    display: block;
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: 150;
    left: 0;
    top: 50%;
    border: none;
    padding: 20px 10px;
    position: relative;
    background-color: transparent;
    transition: all 1s;

    &::before,
    &::after {
      content: '';
      transition: all 0.4s;

      display: block;
      position: absolute;
      height: 3px;
      width: 60px;
      left: 0;
    }

    &::after {
      background-color: #000;

      transform: translateY(5px);
      transform: rotate(45deg);
    }

    &::before {
      background-color: #000;

      transform: translateY(-5px);
      transform: rotate(-45deg);
    }
    &:hover::before {
      background-color: #fff;
      transform: rotate(0deg);
    }
    &:hover::after {
      background-color: #fff;
      transform: rotate(0deg);
    }
  }

  &__list-nav {
    position: absolute;
    right: 40%;
    top: 15%;
    z-index: 100;
    text-align: right;
  }

  &__link {
    display: block;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    // padding-right: 5rem;
    margin-bottom: 7rem;
    position: relative;
    transition: all 0.3s;

    &::before {
      content: '';
      position: absolute;
      // display: block;
      pointer-events: none;

      top: 4rem;
      right: 5rem;
      height: 2px;
      width: 0;
      opacity: 0;
      background: #000;
      transition: all 0.6s cubic-bezier(0.03, 0.83, 0.55, 1.01);
    }

    &:hover::before {
      opacity: 1;
      width: 8rem;
      right: -21rem;
    }

    &::after {
      content: attr(data-number);
      position: absolute;
      font-size: 4rem;
      font-weight: 500;
      top: 0;
      right: -7rem;
      transform: rotate(-90deg);
      transition: all 0.2s;
      color: #000;
      pointer-events: none;
    }

    &:hover {
      color: #fff;
      transform: translateX(3rem);
    }

    &:hover::after {
      color: #000;
      right: -19rem;
    }
  }

  &__left {
    z-index: 29;
    position: fixed;
    top: 0;
    width: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-block {
    position: absolute;
    margin-top: 2rem;
    width: 40px;
    height: 165px;
  }

  &__left-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    z-index: 23;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;

    overflow: hidden;
    height: 7rem;

    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 1s cubic-bezier(0.93, 0, 0.12, 1.01);

    transform: rotate(-90deg);

    & span {
      transition: all 1s cubic-bezier(0.93, 0, 0.12, 1.01);
      display: inline-block;
      // animation: menu-btn 3s ease-in-out delay infinite alternate none;

      &::before {
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color: $primary-yellow;

        transform: translateY(-50px);
      }
    }
  }

  &__social {
    position: absolute;
    bottom: 3rem;
    overflow: hidden;
  }

  &__social-item {
    transform: rotate(-90deg);
    will-change: transform;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__social-link {
    position: relative;
    display: block;
    margin: 1.5rem;
    transition: transform 0.4s cubic-bezier(0.9, 0, 0.26, 1);

    &::before {
      content: attr(data-text);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: $primary-yellow;

      transform: translateY(-50px);

      &--active {
        &::before {
          content: attr(data-text);
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          color: #fff;

          transform: translateY(-50px);
        }
      }
    }
  }
  &__social--mob {
    position: absolute;
    bottom: 3rem;
    overflow: hidden;
  }

  &__social-item--mob {
    transform: rotate(-90deg);
    will-change: transform;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__social-link--mob {
    position: relative;
    display: block;
    margin: 1.5rem;
    transition: transform 0.4s cubic-bezier(0.9, 0, 0.26, 1);

    &::before {
      content: attr(data-text);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;

      transform: translateY(-50px);

      &--active {
        &::before {
          content: attr(data-text);
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          color: #fff;

          transform: translateY(-50px);
        }
      }
    }
  }

  &__right {
    z-index: 29;
    position: fixed;
    top: 0;
    right: 0;
    width: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__language--mob {
    position: absolute;
    top: 1rem;
    overflow: hidden;
  }
  &__language-item--mob {
    transform: rotate(90deg);
    will-change: transform;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    // font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 2rem;
  }
  &__language-link-mob {
    position: relative;
    display: block;
    transition: transform 0.4s cubic-bezier(0.9, 0, 0.26, 1);

    &--active {
      font-weight: 700;
    }

    &::before {
      content: attr(data-text);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;

      transform: translateY(-54px);
    }
  }
  &__language {
    position: absolute;
    top: 1rem;
    overflow: hidden;
  }
  &__language-item {
    transform: rotate(90deg);
    will-change: transform;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    // font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 2rem;
  }
  &__language-link {
    position: relative;
    display: block;
    transition: transform 0.4s cubic-bezier(0.9, 0, 0.26, 1);

    &--active {
      font-weight: 700;
    }

    &::before {
      content: attr(data-text);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: $primary-yellow;

      transform: translateY(-54px);
    }
  }

  &__right-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__project-item {
    transform: rotate(90deg);
    overflow: hidden;
    position: absolute;
    bottom: 3rem;
    width: 32rem;
  }

  &__project-link {
    position: relative;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.4s cubic-bezier(0.9, 0, 0.26, 1);

    &::before {
      content: attr(data-text);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: $primary-yellow;

      transform: translateY(-50px);
    }
  }
  &__project-item--mob {
    transform: rotate(90deg);
    overflow: hidden;
    position: absolute;
    bottom: 3rem;
    width: 32rem;
  }

  &__project-link--mob {
    position: relative;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.4s cubic-bezier(0.9, 0, 0.26, 1);

    &::before {
      content: attr(data-text);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;

      transform: translateY(-50px);
    }
  }

  &__line {
    display: flex;

    font-size: 16rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    position: absolute;
    z-index: 29;
    bottom: 45rem;
    pointer-events: none;
    animation: anim1 100s linear infinite;
  }

  &__line-item {
    margin-right: 3rem;
    font-size: 19rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: rgba(252, 235, 0, 0.5);

    &:nth-child(odd) {
      -webkit-text-stroke: 2px rgba(252, 235, 0, 0.5);
      color: transparent;
    }
  }

  &__line-2 {
    display: flex;
    pointer-events: none;
    font-size: 16rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    z-index: 100;
    position: absolute;
    bottom: 20rem;
    animation: anim2 95s linear infinite;

    &--item {
      margin-right: 3rem;
      font-size: 16rem;
      font-weight: 700;
      font-family: 'Oswald', sans-serif;
      color: rgba($color: #6d6d6d, $alpha: 0.1);

      &:nth-child(odd) {
        -webkit-text-stroke: 2px rgba($color: #6d6d6d, $alpha: 0.1);
        color: transparent;
      }
    }
  }

  // .menu__dots-item:hover::before {
  //   display: block;
  //   top: 5rem;
  //   opacity: 1;
  // }

  // .menu__dots-item--active::after {
  //   height: 3rem;
  // }
  // .menu__dots-item--active::after {
  //   height: 3rem;
  // }

  .menu__social-item:hover .menu__social-link {
    display: block;
    transform: translateY(52px);
  }
  .menu__language-item:hover .menu__language-link {
    transform: translateY(52px);
  }
  .menu__project-item:hover .menu__project-link {
    transform: translateY(50px);
  }
  //  menu

  .menu__social-item--mob:hover .menu__social-link--mob {
    display: block;
    transform: translateY(52px);
  }
  .menu__language-item--mob:hover .menu__language-link-mob {
    transform: translateY(52px);
  }
  .menu__project-item--mob:hover .menu__project-link--mob {
    transform: translateY(50px);
  }
}

.dots {
  z-index: 25;
  transition: all 1s;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // transition: all 0.4s cubic-bezier(0.9, 0, 0.26, 1);

  &__item {
    position: relative;
    margin-bottom: 20px;
    transition: all 0.6s cubic-bezier(0.9, 0, 0.26, 1);

    &:hover {
      padding-top: 25px;
      padding-bottom: 40px;
    }

    &::before {
      content: attr(data-num);
      position: absolute;
      top: 0;
      left: -7px;
      width: 15px;
      height: 30px;
      margin-top: 8px;
      font-size: 2rem;
      opacity: 0;
      transition: all 0.6s cubic-bezier(0.9, 0, 0.26, 1);
    }

    &:hover::before {
      top: -20px;
      opacity: 1;
    }
    &--active {
      padding-top: 25px;
      padding-bottom: 40px;

      &::before {
        content: attr(data-num);
        position: absolute;
        top: -20px;
        left: -7px;
        width: 15px;
        height: 30px;
        margin-top: 8px;
        font-size: 2rem;
        opacity: 1;
        transition: all 0.6s cubic-bezier(0.9, 0, 0.26, 1);
      }
    }
  }
  &__dot {
    z-index: 25;

    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    &::after {
      content: '';
      position: absolute;
      // display: block;
      top: 5px;
      left: 5px;
      width: 1px;
      height: 2px;
      background: #000;
      transition: all 0.6s cubic-bezier(0.9, 0, 0.26, 1);
    }

    &:hover {
      background: $primary-yellow;
    }

    &--active {
      background: $primary-yellow;

      &::after {
        content: '';
        position: absolute;
        // display: block;
        top: 5px;
        left: 7px;
        width: 1px;
        height: 2px;
        background: #000;
        transition: all 0.6s cubic-bezier(0.9, 0, 0.26, 1);
      }
    }
  }
}

.dots__dot--active::after {
  opacity: 1;
  top: 30px;
  height: 25px;
}

// .dots__item:hover,
.dots__dot:hover::after {
  opacity: 1;
  top: 30px;
  height: 25px;
}
.dots__item:hover .dots__dot::after {
  opacity: 1;
  top: 30px;
  height: 25px;
}

.hideMenu-btn {
  transform: translateY(50px);
}

@keyframes menu-btn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
